/* You can add global styles to this file, and also import other style files */

body{background-image: url('../src/assets/background-bg.jpg'); background-repeat: no-repeat; background-size: cover;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;}
    .chatbot {
      position: fixed;
      right: 30px;
      bottom: 40px;
      height: 50px;
      width: 50px;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
      &::after{
        content: "Let's Talk";
        display: block;
        position: absolute;
        left: 50%;
        bottom: -30px;
        white-space: nowrap;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        background: #e20074;
        width: 80px;
        text-align: center;
        margin-left: -40px;
        line-height: 20px;
        padding-bottom: 3px;
        font-size: 13px;
        cursor: pointer;
      }
    }

  .bounce {
      animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      -moz-animation: bounce 2s infinite;
      -o-animation: bounce 2s infinite;
  }

  @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
      40% {-webkit-transform: translateY(-30px);}
      60% {-webkit-transform: translateY(-15px);}
  }

  @-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
      40% {-moz-transform: translateY(-30px);}
      60% {-moz-transform: translateY(-15px);}
  }

  @-o-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
      40% {-o-transform: translateY(-30px);}
      60% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
